### Creating a Function

In [1]:
def say_hello():
    print('hello')

In [2]:
#Calling a function

say_hello

In [3]:
say_hello()

hello

### Creating a Function with arguments

In [4]:
def namaste(name):
    print(f'Hello {name}')

In [5]:
namaste('Shreyas')

Hello Shreyas

### Using return

In [20]:
def add_num(n1,n2):
    return n1+n2

In [21]:
add_num(12,54)

66

In [22]:
result = add_num(12,59012709)

In [23]:
print(result)

59012721

In [24]:
def add_num_print(n1,n2):
    print(n1+n2)

In [25]:
result1 = add_num_print(23,43)

66

In [26]:
type(result1)

NoneType

In [28]:
result+result/100000

59013311.12721

#### Adding Logic to Internal Function Operations

In [29]:
def even_check(num):
    return num%2 == 0

In [30]:
even_check(21)

False

In [32]:
even_check(20)

True

In [33]:
#Check if any number in a list is even

def check_even_list(num_lst):
    #go through each number
    for num in num_lst:
        #Once we hit an even number, we return True
        if num%2 ==0:
            return True
        #Otherwise we don't do anything
        else:
            pass

In [34]:
check_even_list([1,3,5,7,9,12,11])

True

In [35]:
check_even_list([2,4,6,8,11,13,15])

True

In [36]:
check_even_list([1,3,5,7,9,11,21,31,37])

We aren't returning anything if they are all odds !!

In [43]:
def check_even_list(num_lst):
    #go through each number
    for num in num_lst:
        #Once we hit an even number, we return True
        if num%2 ==0:
            return True
        #This returns false at the very first odd number without checkin gthe other num in the list
        else:
            return False

In [42]:
check_even_list([1,2,3])

False

In [44]:
def check_even_list(num_lst):
    #go through each number
    for num in num_lst:
        #Once we hit an even number, we return True
        if num%2 ==0:
            return True
        #Otherwise we don't do anything
        else:
            pass
    return False

In [46]:
check_even_list([1,2,3])

True

In [47]:
check_even_list([1,3,5])

False

### Return all the even numbers in a list

In [54]:
def return_even_list(num_lst):
    even_numbers = []
    #go through each number
    for num in num_lst:
        #Once we get a hit on an even number, we append the even number list
        if num % 2 == 0:
            even_numbers.append(num)
        #Don't do anything
        else:
            pass
    #Notice the indentation because it ensures we run through the entirety of the for loop
    return even_numbers

In [55]:
return_even_list([1,2,3,4,11,12,21,23,32,43,64,76,67])

[2, 4, 12, 32, 64, 76]

### Tuples Unpacking in the functions

In [62]:
performance = [('APPLE',200),('GOOGLE',3000),('MS',400),('RBPL',250)]

In [63]:
def company_perform(perf):
    
    current_max = 0
    
    company_name = ''
    
    for c,r in perf:
        if r > current_max:
            current_max = r
            company_name = c
        else:
            pass
        
    return (company_name,current_max)

In [64]:
company_perform(performance)

('GOOGLE', 3000)

### Exercise

write a func that returns the lesser of the two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [74]:
def lesser_number(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [75]:
lesser_number(121,161)

161

In [77]:
lesser_number(120,160)

120

### Write a function that takes a two word string and return true if both words begin with the same letter

In [82]:
def two_strings(text):
    if len(text.split()) == 2:
        return text.lower().split()[0][0] == text.lower().split()[1][0]
    else:
        print("please enter string of two words only")

In [85]:
two_strings('Hello world')

False

## Write a function that captlaizes the first and fourth letters of a name
## Write a function that given a sentence, return a sentence with the words reversed
## Write a function that returns the number of prime numbers that exist up to and inclusing a given number

In [88]:
#3
def cap_name(name):
    if len(name)>3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short !!'

In [89]:
cap_name('shreyas')

'ShrEyas'

In [90]:
cap_name('Tom')

'Name is too short !!'

In [94]:
' '.join('hello world hwo are you'.split()[::-1])

'you are hwo world hello'

In [99]:
#4
def word_rev(text):
    return ' '.join(text.split()[::-1])