##### Lambda: a way to create anonymous functions

# Map

* 'map' a function to an iterable object

In [1]:
def square_root(num):
    return num**0.5

In [2]:
my_lst = [11,21,33,45,67]

In [4]:
lst = []

for n in my_lst:
    lst.append(n**0.5)

In [5]:
lst

[3.3166247903554,
 4.58257569495584,
 5.744562646538029,
 6.708203932499369,
 8.18535277187245]

In [7]:
#Iterate through lst or just cast a list using map

list(map(square_root,my_lst))

[3.3166247903554,
 4.58257569495584,
 5.744562646538029,
 6.708203932499369,
 8.18535277187245]

In [31]:
names = ['Shreyas','Virat','Rishabh','Sachin','Dhoni','Jaspreet','Akashdeep']

def str_mani(mystr):
    if len(mystr)%2 ==0:
        return 'even'
    else:
        return mystr[0]

In [32]:
list(map(lambda mystr: 'even' if len(mystr)%2 == 0 else mystr[0],names))

['S', 'V', 'R', 'even', 'D', 'even', 'A']

In [33]:
list(map(str_mani,names))

['S', 'V', 'R', 'even', 'D', 'even', 'A']

# Filter

* returns an iterator yielding those items of iterable for which function (item) is true. That is, the function
* returns either True or False

In [10]:
def check_even(num):
    return num%2 == 0

In [11]:
check_even(13)

False

In [12]:
check_even(12)

True

In [14]:
num_lst = [0,1,2,3,4,5,6,7,8,9,10,11,12]

In [16]:
list(filter(check_even,num_lst))

[0, 2, 4, 6, 8, 10, 12]

In [17]:
names = ['Shreyas','Virat','Rishabh','Sachin','Dhoni','Jaspreet','Akashdeep']

def check_str(st):
    return len(st)>6

In [18]:
list(filter(check_str,names))

['Shreyas', 'Rishabh', 'Jaspreet', 'Akashdeep']

### Lambda Expressions

In [19]:
def square(num):
    result = num**2
    return result

In [20]:
square(2)

4

In [21]:
def square1(num):
    return num**2

In [22]:
square1(2)

4

In [23]:
def square2(num): return num**2

In [24]:
square2(4)

16

In [26]:
square3 = lambda num : num**2

In [27]:
square3(6)

36

In [29]:
my_lst = [11,21,33,45,67]

list(map(lambda num : num**0.5,my_lst))

[3.3166247903554,
 4.58257569495584,
 5.744562646538029,
 6.708203932499369,
 8.18535277187245]

In [30]:
num_lst = [0,1,2,3,4,5,6,7,8,9,10,11,12]
list(filter(lambda n:n%2 == 0,num_lst))

[0, 2, 4, 6, 8, 10, 12]

In [34]:
# use lambda , map or filter or combination of them to capitalise the first letter of a string

s = ["shreyas",'iitr','rbpl','machine','learning','december']

In [36]:
list(map(lambda str1 : str1.capitalize(),s))

['Shreyas', 'Iitr', 'Rbpl', 'Machine', 'Learning', 'December']

In [44]:
#Reverse a string

list(map(lambda str2:str2[::-1],s))

['sayerhs', 'rtii', 'lpbr', 'enihcam', 'gninrael', 'rebmeced']

In [42]:
#take a list of numbers and return a list of numbers which are palindromic
nums = [112,121,212,221,122,222,231,323,1991,1996,12321,45643]
list(filter(lambda x: str(x) == str(x)[::-1],nums))

[121, 212, 222, 323, 1991, 12321]

In [46]:
# With a list of words, capitalize only the words with an even number of characters.
list(map(lambda word: word.upper() if len(word)%2 == 0 else word, s))

['shreyas', 'IITR', 'RBPL', 'machine', 'LEARNING', 'DECEMBER']

In [47]:
# Filters words that start with a vowel [hint: use 'in']
lst_sample = ['iit','rbpl','Artificial','real','apple','cat','dog']

list(filter(lambda word : word[0].lower() in 'aeiou',lst_sample))

['iit', 'Artificial', 'apple']