In [1]:
lst = []
for x in 'word':
    lst.append(x)
    
lst

['w', 'o', 'r', 'd']

In [2]:
[x for x in 'word']

['w', 'o', 'r', 'd']

In [3]:
[((x**3)/3)//3 for x in range(0,41,3) if x%2 == 0]

[0.0, 24.0, 192.0, 648.0, 1536.0, 3000.0, 5184.0]

In [4]:
[y for y in [x*2 for x in range(0,11) if x%2 == 0] if y > 10]

[12, 16, 20]

In [5]:
[y for y in [0,4,8,12,16,20] if y > 10]

[12, 16, 20]

In [6]:
lst4 = [0,4,8,12,16,20]
[y for y in lst4 if y > 10]

[12, 16, 20]

In [7]:
celsius = [10,20,28.76, 34.98,40.01,45.65]
fahrenheit =[(9/5)*C + 32 for C in celsius]
fahrenheit

[50.0, 68.0, 83.768, 94.964, 104.018, 114.17]

1. first letter of this string s = 'This is CPP course which is the foundational level course on Python'
2. Filter out all the vowels from the string and store the remaining characters in a list
3. length of each of the word in the above string
4. create a list of numbers from 1 to 20 where each numbet is replaced with 'Even' if its even and 'Odd' is its odd.

In [12]:
st = 'This is CPP course which is the foundational level course on Python'

In [11]:
#1
[w[0] for w in 'This is CPP course which is the foundational level course on Python'.split()]

['T', 'i', 'C', 'c', 'w', 'i', 't', 'f', 'l', 'c', 'o', 'P']

In [14]:
#2
[l for l in st if l not in 'aeiou ']

['T',
 'h',
 's',
 's',
 'C',
 'P',
 'P',
 'c',
 'r',
 's',
 'w',
 'h',
 'c',
 'h',
 's',
 't',
 'h',
 'f',
 'n',
 'd',
 't',
 'n',
 'l',
 'l',
 'v',
 'l',
 'c',
 'r',
 's',
 'n',
 'P',
 'y',
 't',
 'h',
 'n']

In [26]:
#3
[len(w) for w in st.split()]

[4, 2, 3, 6, 5, 2, 3, 12, 5, 6, 2, 6]

In [27]:
#4
['Even' if x%2 == 0 else 'Odd' for x in range(1,21)]

['Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']

In [29]:
#All the numbers between 1 to 151 which are divisible by both 3 and 5

[x for x in range(1,151) if x%3 == 0 and x%5 == 0]

[15, 30, 45, 60, 75, 90, 105, 120, 135, 150]

In [33]:
# Flatten out this lst = [[1,2,3],[4,5],[6,7,8]]
lst = [[1,2,3],[4,5],[6,7,8]]
[item for sublist in lst for item in sublist]

[1, 2, 3, 4, 5, 6, 7, 8]